/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.info {
  max-width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.info .info__img {
  width: 100%;
}

.info.info__link {
  font-family: fantasy, cursive;
}


@media (max-width: 768px) {

  .info {
    text-align: center;
  }

}

.main-wrapper {
  display: block;
  max-width: 500px;
  margin: 0 auto 0;
}

.task__text {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.add-task__form {
  display: flex;
  margin: 16px 0;
}

.list {
  margin: 0;
  padding: 0px;
}

.task,
.title {
  list-style: none;
}

.task__input,
.btn {
  outline: none;
}

.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3a3a;
}

/* Heading */

.title,
.add-task__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task__input:focus {
  color: #333;
}

/* New Task */

.add-task__title {
  display: block;
  margin: 0 0 20px;
  margin-top: 23px;
}

#new-task {
  width: 318px;
}

/* Task list */

.task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task > * {
  vertical-align: middle;
}

.task > .task__checkbox {
  margin: 0 10px;
}

.task > .task__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task > .task__input {
  width: 226px;
}

.btn_delete .delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn_delete .delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */

.list#list-completed .task__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

.list .task .task__input {
  display: none;
}

.list .task.task_edit-mode .task__input {
  display: inline-block;
  width: 150px;
}

.list .task.task_edit-mode .task__label {
  display: none;
}